.desc {
    display: inline-block;
    padding-left: 50px;
    text-align: left;
    color: white;
    width: 50%;
}

.spanning {
    text-align: center;
    padding: 5rem;
    display: flex;
    
}

@media only screen and (max-width: 1200px) {
    .spanning {
        padding: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .spanning {
        padding: 0.5rem;
    }
}

.image {
    display: inline-block;
    width: 50%;
    height: auto;
    border: 10px solid #686868;
    border-radius: 15px;
}