.desc {
    display: inline-block;
    padding-left: 50px;
    text-align: left;
    color: white;
    width: 50%;
}

.spanning {
    text-align: center;
    padding: 4rem;
    display: flex;
}

.spanning:first-child {
    padding-top: 0;
}

@media only screen and (max-width: 1200px) {
    .spanning {
        padding: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .spanning {
        padding: 1rem, 0.2rem, 1rem, 0.2rem;
    }
}

.image {
    display: inline-block;
    width: 50%;
    height: auto;
    border: 10px solid #686868;
    border-radius: 15px;
}