p.about {
    text-align: left;
    padding-left: 3rem;
}

@media only screen and (max-width: 1200px) {
    p.about {
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    p.about {
        padding-left: 1rem;
    }
}
